In [1]:
import pandas as pd
import mariadb
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from supervised.automl import AutoML
from tqdm import tqdm
import numpy as np
import pandas as pd
import numpy as np
import bisect
from tqdm import tqdm
from sklearn.metrics import mean_absolute_error


conn  = mariadb.connect(
    user='team3', 
    password='dbdb', 
    database='team3db', 
    host='localhost',
    port=3306
)

# 위 커넥션 정보와 동일하게 입력
engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(user='team3', pw='dbdb',host='localhost', db='team3db'))

In [2]:
df = pd.read_csv('./data/train_notnull(mean)_UL.csv')
df.to_sql('train_UL',engine, if_exists='replace',chunksize=1000)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_38148\3170682338.py:2: UserWarning: The provided table name 'train_UL' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

391933

In [3]:
train = pd.read_sql_query('SELECT * FROM train_UL',engine,index_col='index')
train.reset_index(inplace=True,drop=True)
train.drop(columns=['SAMPLE_ID','ID','ARI_PO','V_WIND'],inplace=True)
train

,ARI_CO,SHIP_TYPE_CATEGORY,DIST,ATA,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,AIR_TEMPERATURE,BN,ATA_LT,PORT_SIZE,CI_HOUR
0,SG,Container,30.881018,2018-12-17 21:29,30.0,24,24300,10.0,10.0,16700,180.0,CQSB78,Panama,-0.527582,27.637513,2.014493,5,0.002615,3.450000
1,IN,Bulk,0.000000,2014-09-23 6:59,30.0,13,35900,10.0,10.0,23500,180.0,SPNO34,Marshall Islands,2.244962,28.263135,3.102933,12,0.000217,0.000000
2,CN,Container,0.000000,2015-02-03 22:00,50.0,12,146000,30.0,10.0,115250,370.0,FNPK22,Malta,-1.050854,17.651842,3.210685,6,0.001614,0.000000
3,JP,Container,0.000000,2020-01-17 4:02,20.0,18,6910,10.0,10.0,5400,120.0,PBZV77,Bahamas,-3.180000,6.700000,2.629350,13,0.000356,0.000000
4,SG,Container,27.037650,2020-01-26 7:51,50.0,10,116000,20.0,10.0,96600,300.0,GUCE76,Liberia,-0.330000,25.600000,2.495953,15,0.002615,122.943750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391928,JP,Container,0.000000,2017-06-06 5:02,20.0,27,6820,10.0,10.0,4820,110.0,KEJZ24,"China, People's Republic Of",0.836331,17.033054,2.157586,14,0.000552,0.000000
391929,SG,Bulk,5.884603,2019-10-16 0:36,10.0,12,3160,10.0,10.0,1600,80.0,JLTM64,Vietnam,-0.660000,27.300000,1.253491,8,0.002615,122.943750
391930,US,Bulk,64.231480,2021-03-23 22:35,30.0,8,60300,20.0,10.0,34800,200.0,YERJ68,Singapore,-3.440000,21.100000,4.766257,18,0.000155,41.482222
391931,TW,Container,9.448179,2015-01-08 7:15,30.0,29,23800,10.0,10.0,16900,170.0,HCZK58,Comoros,-0.996649,25.702965,2.987039,15,0.000990,7.485278
391932,TW,Container,0.000000,2015-06-08 23:30,30.0,15,50600,20.0,10.0,40200,260.0,GRJG55,"Hong Kong, China",-0.996649,25.702965,2.987039,7,0.000990,0.000000

In [4]:
test = pd.read_sql_query('SELECT * FROM test',engine, index_col='index')
test.reset_index(drop=True,inplace=True)
test

,SAMPLE_ID,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ATA,ID,BREADTH,BUILT,DEADWEIGHT,...,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,PORT_SIZE
0,TEST_000000,SG,GIW5,Container,1.826589,2020-06-18 11:58,K322654,50.0,18,117000,...,109000,340.0,KQMD74,Panama,0.37,1.63,27.1,1.587063,19,0.002615
1,TEST_000001,CN,WEY7,Cargo,25.399386,2021-05-26 22:20,E376681,10.0,13,3810,...,2560,80.0,LBYS27,Belize,-2.79,-2.33,14.2,2.663972,6,0.001028
2,TEST_000002,CN,NGG6,Container,111.079467,2019-12-16 0:09,F811111,20.0,26,10900,...,8440,140.0,EKFV15,Singapore,0.04,-4.91,9.3,3.255315,8,0.001743
3,TEST_000003,CA,FFM2,Bulk,9.175258,2015-11-16 5:30,A737561,30.0,9,55800,...,31500,190.0,MASW32,Panama,NaN,NaN,NaN,NaN,2,0.000182
4,TEST_000004,JP,QYY1,Container,0.000000,2018-10-24 1:11,A827175,30.0,19,39800,...,33000,220.0,SIEL54,Liberia,NaN,NaN,NaN,NaN,10,0.000552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220486,TEST_220486,BR,TMW2,Bulk,21.712733,2017-04-04 15:53,E731427,60.0,15,298000,...,151000,330.0,UWHE18,Japan,NaN,NaN,NaN,NaN,13,0.000080
220487,TEST_220487,CA,GRQ5,Bulk,4.870490,2016-08-22 16:22,Q434522,30.0,9,80500,...,42700,220.0,BBXV46,Liberia,NaN,NaN,NaN,NaN,13,0.000039
220488,TEST_220488,JP,VYJ1,Tanker,17.068286,2022-07-10 14:53,U148516,10.0,14,1200,...,500,60.0,DYUA26,Japan,-2.87,1.22,27.4,2.405268,23,0.000264
220489,TEST_220489,CN,QQW1,Cargo,0.000000,2020-12-28 14:38,C235264,10.0,27,3420,...,2000,80.0,VKVS56,Belize,-2.65,-0.64,8.2,2.199039,22,0.000595
220490,TEST_220490,MZ,PAF4,Container,32.280098,2015-11-07 6:34,N282778,30.0,35,41800,...,31400,200.0,TQXV21,Panama,NaN,NaN,NaN,NaN,8,0.000054

In [5]:
test.isnull().sum()

SAMPLE_ID                 0
ARI_CO                    0
ARI_PO                    0
SHIP_TYPE_CATEGORY        0
DIST                      0
ATA                       0
ID                        0
BREADTH                   0
BUILT                     0
DEADWEIGHT                0
DEPTH                     0
DRAUGHT                   0
GT                        0
LENGTH                    0
SHIPMANAGER               0
FLAG                      0
U_WIND                91725
V_WIND                91725
AIR_TEMPERATURE       92246
BN                    91725
ATA_LT                    0
PORT_SIZE                 0
dtype: int64

In [6]:
test.columns

Index(['SAMPLE_ID', 'ARI_CO', 'ARI_PO', 'SHIP_TYPE_CATEGORY', 'DIST', 'ATA',
       'ID', 'BREADTH', 'BUILT', 'DEADWEIGHT', 'DEPTH', 'DRAUGHT', 'GT',
       'LENGTH', 'SHIPMANAGER', 'FLAG', 'U_WIND', 'V_WIND', 'AIR_TEMPERATURE',
       'BN', 'ATA_LT', 'PORT_SIZE'],
      dtype='object')

In [7]:
test_port = test.groupby('ARI_PO')['U_WIND'].mean().to_dict()

for port, mean_temp in test_port.items():
    test.loc[test['ARI_PO'] == port, 'U_WIND'] = test.loc[test['ARI_PO'] == port, 'U_WIND'].fillna(mean_temp)
    

test['U_WIND'].isnull().sum()

5

In [8]:
test_port = test.groupby('ARI_PO')['AIR_TEMPERATURE'].mean().to_dict()

for port, mean_temp in test_port.items():
    test.loc[test['ARI_PO'] == port, 'AIR_TEMPERATURE'] = test.loc[test['ARI_PO'] == port, 'AIR_TEMPERATURE'].fillna(mean_temp)
    

test['AIR_TEMPERATURE'].isnull().sum()

5

In [9]:
test_port = test.groupby('ARI_PO')['BN'].mean().to_dict()

for port, mean_temp in test_port.items():
    test.loc[test['ARI_PO'] == port, 'BN'] = test.loc[test['ARI_PO'] == port, 'BN'].fillna(mean_temp)
    

test['BN'].isnull().sum()

5

In [10]:
test.drop(columns=['SAMPLE_ID','ID','ARI_PO','V_WIND'],inplace=True)

In [11]:
test.shape

(220491, 18)

In [12]:
test.isnull().sum()

ARI_CO                0
SHIP_TYPE_CATEGORY    0
DIST                  0
ATA                   0
BREADTH               0
BUILT                 0
DEADWEIGHT            0
DEPTH                 0
DRAUGHT               0
GT                    0
LENGTH                0
SHIPMANAGER           0
FLAG                  0
U_WIND                5
AIR_TEMPERATURE       5
BN                    5
ATA_LT                0
PORT_SIZE             0
dtype: int64

In [13]:
categorical_features = ['ARI_CO', 'SHIP_TYPE_CATEGORY',  'FLAG']
encoders = {}

for feature in tqdm(categorical_features, desc="Encoding features"):
    le = LabelEncoder()
    train[feature] = le.fit_transform(train[feature].astype(str))
    le_classes_set = set(le.classes_)
    test[feature] = test[feature].map(lambda s: '-1' if s not in le_classes_set else s)
    le_classes = le.classes_.tolist()
    bisect.insort_left(le_classes, '-1')
    le.classes_ = np.array(le_classes)
    test[feature] = le.transform(test[feature].astype(str))
    encoders[feature] = le

Encoding features: 100%|██████████| 3/3 [00:00<00:00,  4.25it/s]

In [14]:
train['ATA'] = pd.to_datetime(train['ATA'])
test['ATA'] = pd.to_datetime(test['ATA'])
train['year'] = train['ATA'].dt.year
train['weekday'] = train['ATA'].dt.weekday
test['year'] = test['ATA'].dt.year
test['weekday'] = test['ATA'].dt.weekday
train.drop(columns=['ATA','ATA_LT','BN','SHIPMANAGER'], inplace=True)
test.drop(columns=['ATA','ATA_LT','BN','SHIPMANAGER'], inplace=True)

In [15]:
X_train = train.drop(columns='CI_HOUR')
Y_train = train['CI_HOUR']

In [16]:
scaler = StandardScaler()
train_scaled = scaler.fit_transform(X_train)
test_scaled = scaler.transform(test)

In [17]:
X_train = pd.DataFrame(train_scaled, columns = X_train.columns)
test = pd.DataFrame(test_scaled, columns = test.columns)

In [18]:
automl = AutoML(
    algorithms=["CatBoost", "Xgboost", "LightGBM", "Random Forest"],
    mode="Compete",
    ml_task="regression",
    eval_metric='r2',
    random_state=42,
    total_time_limit=None,
    model_time_limit=None
)

In [19]:
automl.fit(X_train, Y_train)
pred = automl.predict(test)

AutoML directory: AutoML_9
The task is regression with evaluation metric r2
AutoML will use algorithms: ['CatBoost', 'Xgboost', 'LightGBM', 'Random Forest']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
Skip simple_algorithms because no parameters were generated.
* Step default_algorithms will try to check up to 4 models
1_Default_LightGBM r2 0.593246 trained in 371.18 seconds
2_Default_Xgboost r2 0.587772 trained in 350.02 seconds
3_Default_CatBoost r2 0.588676 trained in 456.6 seconds
4_Default_RandomForest r2 0.473426 trained in 129.98 seconds
* Step not_so_random will try to check up to 36 models
14_LightGBM r2 0.591768 trained in 165.29 seconds
5_Xgboost r2 0.587816 trained in 206.77 seconds
23_CatBoost r2 0.590195 trained in 491.75 seconds
32_RandomForest r2 0.465268 trained in 202.12 seconds
15_LightGBM r2 0.587144 trained in 343.21 seconds
6_Xgboost r2 0.578589 trained in 166.38 seconds
24_CatBoost r2 0.587002 trained in 274.89 seconds
33_RandomForest r2 0.505774 trained in 207.16 seconds
16_LightGBM r2 0.591799 trained in 427.72 seconds
7_Xgboost r2 0.592484 trained in 204.91 seconds
25_CatBoost r2 0.462884 trained in 566.66 seconds
34_RandomForest r2 0.449901 trained in 99.09 seconds
17_LightGBM r2 0.593185 trained in 252.95 seconds
8_Xgboost r2 0.577428 trained in 546.92 seconds
26_CatBoost r2 0.414758 trained in 145.44 seconds
35_RandomForest r2 0.474038 trained in 140.44 seconds
18_LightGBM r2 0.586543 trained in 99.0 seconds
9_Xgboost r2 0.584396 trained in 450.29 seconds
27_CatBoost r2 0.587367 trained in 1644.76 seconds
36_RandomForest r2 0.450279 trained in 108.74 seconds
19_LightGBM r2 0.591803 trained in 179.53 seconds
10_Xgboost r2 0.582771 trained in 368.33 seconds
28_CatBoost r2 0.425323 trained in 104.79 seconds
37_RandomForest r2 0.473208 trained in 189.77 seconds
20_LightGBM r2 0.593037 trained in 115.22 seconds
11_Xgboost r2 0.583639 trained in 100.05 seconds
29_CatBoost r2 0.445053 trained in 97.51 seconds
38_RandomForest r2 0.507211 trained in 192.94 seconds
21_LightGBM r2 0.591489 trained in 144.55 seconds
12_Xgboost r2 0.584851 trained in 136.43 seconds
30_CatBoost r2 0.590976 trained in 345.27 seconds
39_RandomForest r2 0.446712 trained in 99.09 seconds
22_LightGBM r2 0.587092 trained in 80.65 seconds
13_Xgboost r2 0.5858 trained in 461.09 seconds
31_CatBoost r2 0.436965 trained in 368.09 seconds
40_RandomForest r2 0.473634 trained in 125.36 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: SHIP_TYPE_CATEGORY_diff_DIST
Add Golden Feature: DIST_diff_DEPTH
Add Golden Feature: DEPTH_ratio_DIST
Add Golden Feature: DEPTH_sum_DIST
Add Golden Feature: DEPTH_multiply_DIST
Add Golden Feature: DIST_sum_SHIP_TYPE_CATEGORY
Add Golden Feature: DIST_diff_BREADTH
Add Golden Feature: DIST_diff_PORT_SIZE
Add Golden Feature: DIST_ratio_SHIP_TYPE_CATEGORY
Add Golden Feature: weekday_sum_DIST
Created 10 Golden Features in 14.6 seconds.
1_Default_LightGBM_GoldenFeatures r2 0.590581 trained in 312.64 seconds
17_LightGBM_GoldenFeatures r2 0.590707 trained in 216.74 seconds
20_LightGBM_GoldenFeatures r2 0.590649 trained in 113.58 seconds
* Step kmeans_features will try to check up to 3 models
1_Default_LightGBM_KMeansFeatures r2 0.583939 trained in 253.28 seconds
17_LightGBM_KMeansFeatures r2 0.58565 trained in 214.78 seconds
20_LightGBM_KMeansFeatures r2 0.585904 trained in 111.57 seconds
* Step insert_random_feature will try to check up to 1 model
1_Default_LightGBM_RandomFeature r2 0.589615 trained in 1385.19 seconds
Drop features ['random_feature']
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 18 models
41_LightGBM r2 0.591509 trained in 159.84 seconds
42_LightGBM r2 0.591343 trained in 138.29 seconds
43_LightGBM r2 0.594357 trained in 203.08 seconds
44_LightGBM r2 0.589085 trained in 58.44 seconds
45_Xgboost r2 0.591448 trained in 278.83 seconds
46_CatBoost r2 0.591012 trained in 479.34 seconds
47_CatBoost r2 0.589701 trained in 470.12 seconds
48_CatBoost r2 0.590306 trained in 558.67 seconds
49_CatBoost r2 0.588319 trained in 617.25 seconds
50_Xgboost r2 0.586578 trained in 331.17 seconds
51_Xgboost r2 0.588936 trained in 172.79 seconds
52_Xgboost r2 0.584893 trained in 466.35 seconds
53_Xgboost r2 0.588691 trained in 211.46 seconds
54_RandomForest r2 0.507137 trained in 228.18 seconds
55_RandomForest r2 0.507236 trained in 227.95 seconds
56_RandomForest r2 0.505737 trained in 231.13 seconds
57_RandomForest r2 0.505513 trained in 190.75 seconds
58_RandomForest r2 0.474604 trained in 132.57 seconds
* Step hill_climbing_2 will try to check up to 22 models
59_LightGBM r2 0.594357 trained in 226.63 seconds
60_LightGBM r2 0.593246 trained in 320.12 seconds
61_LightGBM r2 0.593246 trained in 320.18 seconds
62_LightGBM r2 0.593185 trained in 244.14 seconds
63_LightGBM r2 0.593185 trained in 245.41 seconds
64_Xgboost r2 0.591394 trained in 208.86 seconds
65_Xgboost r2 0.592926 trained in 242.6 seconds
66_Xgboost r2 0.590073 trained in 299.38 seconds
67_Xgboost r2 0.591943 trained in 359.22 seconds
68_CatBoost r2 0.592023 trained in 1169.41 seconds
69_CatBoost r2 0.588689 trained in 249.35 seconds
70_CatBoost r2 0.591935 trained in 710.85 seconds
71_CatBoost r2 0.588865 trained in 187.74 seconds
72_CatBoost r2 0.590602 trained in 1078.97 seconds
73_CatBoost r2 0.587922 trained in 277.78 seconds
74_Xgboost r2 0.588622 trained in 188.17 seconds
75_RandomForest r2 0.508208 trained in 229.66 seconds
76_RandomForest r2 0.505811 trained in 284.46 seconds
77_RandomForest r2 0.508213 trained in 260.76 seconds
78_RandomForest r2 0.505879 trained in 268.03 seconds
79_RandomForest r2 0.508252 trained in 277.33 seconds
80_RandomForest r2 0.50595 trained in 207.6 seconds
* Step boost_on_errors will try to check up to 1 model
43_LightGBM_BoostOnErrors r2 0.593511 trained in 241.57 seconds
* Step ensemble will try to check up to 1 model
Ensemble r2 0.598153 trained in 87.04 seconds
* Step stack will try to check up to 39 models
59_LightGBM_Stacked r2 0.600212 trained in 61.53 seconds
65_Xgboost_Stacked r2 0.600312 trained in 91.75 seconds
68_CatBoost_Stacked r2 0.600323 trained in 184.2 seconds
79_RandomForest_Stacked r2 0.599847 trained in 1620.19 seconds
43_LightGBM_Stacked r2 0.600212 trained in 66.75 seconds
7_Xgboost_Stacked r2 0.600025 trained in 92.15 seconds
70_CatBoost_Stacked r2 0.600524 trained in 146.6 seconds
77_RandomForest_Stacked r2 0.599854 trained in 1557.92 seconds
1_Default_LightGBM_Stacked r2 0.600481 trained in 56.15 seconds
67_Xgboost_Stacked r2 0.600566 trained in 84.01 seconds
46_CatBoost_Stacked r2 0.599872 trained in 104.09 seconds
75_RandomForest_Stacked r2 0.599878 trained in 1500.33 seconds
60_LightGBM_Stacked r2 0.600481 trained in 57.18 seconds
45_Xgboost_Stacked r2 0.60029 trained in 85.47 seconds
30_CatBoost_Stacked r2 0.600076 trained in 84.58 seconds
55_RandomForest_Stacked r2 0.599876 trained in 1422.18 seconds
61_LightGBM_Stacked r2 0.600481 trained in 56.15 seconds
64_Xgboost_Stacked r2 0.599951 trained in 89.17 seconds
72_CatBoost_Stacked r2 0.600507 trained in 156.24 seconds
38_RandomForest_Stacked r2 0.599876 trained in 1336.53 seconds
63_LightGBM_Stacked r2 0.600392 trained in 58.15 seconds
66_Xgboost_Stacked r2 0.600251 trained in 85.1 seconds
48_CatBoost_Stacked r2 0.60015 trained in 94.13 seconds
54_RandomForest_Stacked r2 0.599888 trained in 1326.99 seconds
17_LightGBM_Stacked r2 0.600392 trained in 58.54 seconds
51_Xgboost_Stacked r2 0.599985 trained in 59.88 seconds
23_CatBoost_Stacked r2 0.600083 trained in 95.48 seconds
80_RandomForest_Stacked r2 0.599852 trained in 1672.66 seconds
62_LightGBM_Stacked r2 0.600392 trained in 58.33 seconds
53_Xgboost_Stacked r2 0.600123 trained in 68.73 seconds
47_CatBoost_Stacked r2 0.600159 trained in 102.38 seconds
78_RandomForest_Stacked r2 0.599862 trained in 1579.99 seconds
20_LightGBM_Stacked r2 0.599629 trained in 44.72 seconds
74_Xgboost_Stacked r2 0.599793 trained in 62.63 seconds
71_CatBoost_Stacked r2 0.599644 trained in 59.2 seconds
76_RandomForest_Stacked r2 0.599853 trained in 1663.75 seconds
5_Xgboost_Stacked r2 0.600319 trained in 58.43 seconds
69_CatBoost_Stacked r2 0.599246 trained in 67.85 seconds
33_RandomForest_Stacked r2 0.599785 trained in 963.02 seconds
* Step ensemble_stacked will try to check up to 1 model
Ensemble_Stacked r2 0.60114 trained in 177.41 seconds
AutoML fit time: 45244.37 seconds
AutoML best model: Ensemble_Stacked

In [20]:
submit = pd.read_csv('./data/sample_submission.csv')
submit['CI_HOUR'] = pred
submit.to_csv('./csv/submit5.csv', index=False)

In [21]:
scaler = MinMaxScaler()
train_scaled = scaler.fit_transform(X_train)
test_scaled = scaler.transform(test)

In [22]:
X_train = pd.DataFrame(train_scaled, columns = X_train.columns)
test = pd.DataFrame(test_scaled, columns = test.columns)

In [23]:
automl.fit(X_train, Y_train)
pred = automl.predict(test)

This model has already been fitted. You can use predict methods or select a new 'results_path' for a new a 'fit()'.

In [24]:
submit = pd.read_csv('./data/sample_submission.csv')
submit['CI_HOUR'] = pred
submit.to_csv('./csv/submit6.csv', index=False)